*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 25px;

}

.general{
    width: 80%;
    height: 25%;
    margin-left: 10%;
    margin-top: 10%;
}

.blog-post{
    width: 100%;
    padding: 1rem .1rem ;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.8rem;
}
.blog-post__img{
    min-width: 20rem;
    max-width: 20rem;
    height: 15rem;
    /* transform: translateX(-4rem); */
    position: relative;
    flex-direction: row;
    margin-left: -4%;
}
.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}
.blog-post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79,172,254, .8),rgba(0,242,254, .8));
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    
}
.blog-post__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    
    
}






@media screen and (max-width:1068px){
    .blog-post{
        max-width: 80rem;
    }
    .blog-post__img{
        min-width: 30rem;
        max-width: 30rem;
    }
}
@media screen and (max-width:868px){
    .blog-post{
        max-width: 70rem;
    }
    

}
@media screen and (max-width:768px){
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,-8rem);
    }

}
.todo{
    margin: 0% 10% 1% 10%;
}
.container{
    display: grid;
    grid-template-columns: 170px 200px 1fr .3fr;
    margin-top: 2%;
    justify-content: space-between;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    align-items: center;
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.103);
    padding: 2% 1% 2% 1%;
    transition: all .2s ease-in-out;
}
.container:hover{
    background-color: gainsboro;
    transform: scale(1.05);
}
.blog-post__title{
    font-size: 1rem;
    text-transform: uppercase;
    color:#000000;
    padding-bottom: 2%;
}
.blog-post__text{
    margin-bottom: 3%;
    font-size: .6rem;
    color: rgba(0,0,0,.7);
    
}
.blog-post__date span{
    display: block;
    color: rgba(255, 0, 0, 0.783);
    font-size: 17px;
    font-weight: 450;
    
}
.link{
    text-decoration: none;
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    padding-left: 15px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: fill;
}
/* .description_link{
    display: grid;
    grid-template-rows: 75% 25%;
} */
.link2{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.fb{
    margin-right: 1%;
}
.medio{
padding-left: 3%;
}
.botonEmprendedor{
    
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 12px;
    padding: 0.5rem 0rem;
    margin: 0rem 0.5rem;
    font-size: 13px;
    color:#000000;
}
.botonEmprendedor:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
/* .botones{
    display: flex;
    flex-direction: column;
} */

@media screen and (min-width:950px) and (max-width:1100px) {

    .container{
        display: grid;
        grid-template-columns: 170px 170px 1fr .3fr;
        margin-top: 2%;
        justify-content: space-between;
        border-style: solid;
        border-radius: 8px;
        border-width: 1px;
        border-color: rgb(211, 211, 211);
        align-items: center;
        width: 100%;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.103);
        padding: 2% 1% 1% 1%;
        transition: all .2s ease-in-out;
    }
    .blog-post__date span{
        display: block;
        color: rgba(250, 10, 10, 0.856);
        font-size: 14px;
        font-weight: 450;
        margin-left: 0px;
        
    }
    .parrafo{
        margin-bottom: 10px;
        
    }
    .fb{
        
        margin-right: 10px;
    }
    .blog-post__text{        
        font-size: .5rem;       
          }
}

@media screen and (min-width:750px) and (max-width:949px) {

    .container{
        display: grid;
        grid-template-columns: 150px 160px 1fr .3fr;
        margin-top: 2%;
        justify-content: space-between;
        border-style: solid;
        border-radius: 8px;
        border-width: 1px;
        border-color: rgb(211, 211, 211);
        align-items: center;
        width: 100%;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.103);
        padding: 2% 1% 2% 1%;
        transition: all .2s ease-in-out;
    }
    .blog-post__date span{
        display: block;
        color: rgba(250, 10, 10, 0.856);
        font-size: 14px;
        font-weight: 450;
        margin-left: 0px;
        
    }
    .blog-post__title {
        font-size: .8rem;
       
    }
    .blog-post__text{
        margin-bottom: 4%;
        font-size: .4rem;
        color: rgba(0,0,0,.7);
        
    }
    .description_link{
        display: grid;
        grid-template-rows: 85% 15%;
    }
    .link2{
        display: flex; 
         
    }
    .fb{
        margin-right: 5px;
    }
    .logo{
        width: 1em;
    }
    .share{
        width: .7em;
        
    }
    .medio{
        padding-left: 10px;
    }
    .botonEmprendedor{
    
        display: flex;
        text-align: center;
        justify-content: center;
        border: 1px black solid;
        border-radius: 12px;
        padding: 0.3rem .5rem;
        margin: 0rem 0.5rem;
        font-size: 13px;
        color:#000000;
    }
}

@media screen and (min-width:451px) and (max-width:749px) {
    .todo{
        margin: 0% 24% 1% 24%;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        justify-content: space-between;
        border-style: solid;
        border-radius: 8px;
        border-width: 1px;
        border-color: rgb(211, 211, 211);        
        width: 100%;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.103);
        padding: 0% 0% 2% 0%;
        transition: all .2s ease-in-out;
    }
    .foto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }
   
    .medio{
        padding-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 2%;
        margin: 1% 5%;
        }
    .blog-post__title{
        font-size: .9rem;
        text-transform: uppercase;
        color:#000000;
        padding-bottom: 2%;
    }
    .blog-post__date span{
        display: block;
        color: rgba(250, 10, 10, 0.856);
        font-size: 12px;
        font-weight: 450;
        margin-left: 0px;
        
    }
    .blog-post__text{
        margin-bottom: 4%;
        font-size: 13px;
        color: rgba(0,0,0,.7);
        line-height: 1.3em;
    }
    .description_link{
        display: grid;
        grid-template-rows: 85% 1fr;
        padding-bottom: 10%;
        margin: 1% 5%;
    }
    
    .link2{
        display: flex; 
         flex-shrink: 0;
    }
    .fb{
        margin-right: 30px;
    }
    .logo{
        width: 1em;
    }
    .share{
        width: 1em;
        
    }
    .botonEmprendedor{
    
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px black solid;
        border-radius: 12px;
        padding: 0.3rem .5rem;
        
        font-size: 13px;
        color:#000000;
    }
    
}
@media screen and (min-width:300px) and (max-width:450px) {
    .todo{
        margin: 0% 22% 1% 22%;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        justify-content: space-between;
        border-style: solid;
        border-radius: 8px;
        border-width: 1px;
        border-color: rgb(211, 211, 211);        
        width: 100%;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.103);
        padding: 0% 0% 2% 0%;
        transition: all .2s ease-in-out;
    }
    .foto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }
   
    .medio{
        padding-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 2%;
        margin: 3% 5%;
        
        }
    .blog-post__title{
        font-size: .9rem;
        text-transform: uppercase;
        color:#000000;
        padding-bottom: 2%;
    }
    .blog-post__date span{
        display: block;
        color: rgba(250, 10, 10, 0.856);
        font-size: 12px;
        font-weight: 450;
        margin-left: 0px;
        
    }
    .blog-post__text{
        margin-bottom: 4%;
        font-size: 13px;
        color: rgba(0,0,0,.7);
        line-height: 1.3em;
    }
    .description_link{
        display: grid;
        grid-template-rows: 85% 1fr;
        padding-bottom: 10%;
        margin: 1% 5%;
    }
    
    .link2{
        display: flex; 
         flex-shrink: 0;
    }
    .fb{
        margin-right: 30px;
    }
    .logo{
        width: 1em;
    }
    .share{
        width: 1em;
        
    }
    .botonEmprendedor{
    
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px black solid;
        border-radius: 12px;
        padding: 0.3rem .5rem;
        
        font-size: 13px;
        color:#000000;
    }
    
}

